@font-face {
  font-family: Dosis;
  src: url(./Dosis-Medium.ttf) format("truetype");
}

* {
  font-family: Dosis;
}

.bg-grad-1 {
  background-color: #0093e9;
  background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
}
.bg-grad-2 {
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
}
.bg-grad-3 {
  background-color: #8ec5fc;
  background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
}
.bg-grad-4 {
  background-color: #d9afd9;
  background-image: linear-gradient(0deg, #d9afd9 0%, #97d9e1 100%);
}
.bg-grad-5 {
  background-color: #ffdee9;
  background-image: linear-gradient(0deg, #ffdee9 0%, #b5fffc 100%);
}
.bg-grad-6 {
  background-color: #fbda61;
  background-image: linear-gradient(45deg, #fbda61 0%, #ff5acd 100%);
}
.bg-grad-7 {
  background-color: #74ebd5;
  background-image: linear-gradient(90deg, #74ebd5 0%, #9face6 100%);
}
.bg-grad-8 {
  background-color: #74ebd5;
  background-image: linear-gradient(90deg, #74ebd5 0%, #9face6 100%);
}

.h-ma-8 {
  margin: 8px;
}

.h-ma-5 {
  margin: 20px;
}

.h-pa-5 {
  padding: 5px;
}

.d-flex {
  display: flex;
}

.center {
  justify-content: center;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.col-6 {
  padding: 0;
}

.row {
  margin: 0;
  padding: 0;
}
